<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EJSproject</title>
    </head>
    <body>
      <h1>Home page <%= 4 + 5 + 1 %> </h1>
      <p>lorem ipsum</p>
      <p>też lorem ipsum</p>
    </body>
</html>