<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Random</title>
    </head>
    <body>
      <h1> Your random number is: <%= number %> </h1>
      <% if(number % 2 === 0) { %> 
        <h2>even</h2>
        <% }else {  %> 
          <h2>odd</h2>
          <% } %> 
          <h3>That number is <%= number%2===0? "EVEN" : "ODD" %> </h3>
    </body>
</html>